.con{
  background-color:  #000000;
  /* margin-top: -15px; */
  
}

.contact1{
  color: aliceblue;
  font-family: cursive ;
  margin-top: -05px;

}



.contact-iframe{
  height: 530px;
  width: 600px;
  margin-top: 15px;
  margin-left: 50px;
  border-radius: 15px;
}

.con-label1{
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  
}


.con-input1{
  height: 50px;
  width: 600px;
  border-radius: 10px;
}

.con-input2{
  height: 100px;
  width: 600px;
  border-radius: 10px;
}

.contact-form{
  margin-left: 750px;
  margin-top: -585px;
  border: 3px solid cyan;
  padding: 5px;
  
}


/* BUTTON DESIGN */


.contact-button{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 250px;
  
}

.contact-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.contact-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* BORDER DESIGN  */

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}




:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
  
}


.contact-form,iframe {
	font-size: 3vw;
	/* margin: max(1rem, 3vw); */
	border: 0.35rem solid;
	/* padding: 3vw; */
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}


/* SOCIAL MEDIA DESIGN  */

.contact-card {
  width: fit-content;
  height: fit-content;
  margin-left: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
  gap: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);

}

/* for all social containers*/
.socialContainer {
  width: 40px;
  height: 50px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1.2s;
  border-radius: 15px 0 15px 0px;
  
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 1.2s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 1.2s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 1.2s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #02801c;
  transition-duration: 1.2s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 1.2s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 1.2s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


